a {
    transition: all .2s ease-in-out;
    color: white
}

a:hover {
    color: black;
}

.title{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: white;
}

.subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: aquamarine;
}

.logo{
    width: 100px;
    height: 100px;
}

.badge{
    max-width: 200px;
}

.left-side{
    background-color: #00e197;
}

.right-side{
    background-image: url('/forwardapp/img/geometry2.png');
    background-repeat: repeat;
}

footer{
    background: transparent;
    padding: 10px !important;
}
