html {}

body {
    background:linear-gradient(135deg, #00e197 0%,#17ead9 100%);
}

a {
    transition: all .2s ease-in-out;
    color: white
}

a:hover {
    color: black;
}

.header-logo{
    width: 120px;
    margin-top: 20px;
}

.header-title{
    color: #333 !important;
    margin-bottom: 20px;
}

.header-subtitle{
    color: #555 !important;
}

.hero-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 55px;
    font-weight: bold;
    color: white;
}

.hero-subtitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding-left: 10px;
}

.description{
    font-family: 'Open Sans', sans-serif !important;
    color: white;
    text-align: center !important;
    padding: 15px 80px;
    font-size: 25px;
    line-height: 1.4;
}

.header-description{
    color: #555 !important;
}

.logo{
    width: 140px;
    margin-bottom: 30px;
}

.badge{
    max-width: 200px;
    margin-top: 10px;
}

.hero{
    background: transparent !important;
    /* background-color: #00e197; */
    /*radial-gradient(circle farthest-side at 50% 20%, #01ffaa 0%, #00e197) !important;*/
}

.left-side{
    background: transparent !important;
    /* background-color: #00e197; */
    /*background: radial-gradient(farthest-corner at 50% 50%, #8edcc2 0%, #00e197) !important;*/
    padding: 0 !important;
    z-index: 1;
}

.transparent{
    background: transparent !important;
}

.right-side{
    background: transparent !important;
    min-height: 700px;
    z-index: 1;
    /* background-color: #00e197; */
}

.top{
    background: #01ffaa;
    background: -moz-linear-gradient(top, #01ffaa 0%, #00e197 100%);
    background: -webkit-linear-gradient(top, #01ffaa 0%,#00e197 100%);
    background: linear-gradient(to bottom, #01ffaa 0%,#00e197 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01ffaa', endColorstr='#00e197',GradientType=0 );
}

header{
    background: 'red';
    padding: 10px !important;
}

header:before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 650px;
    background: white;
    -ms-transform: skewY(-10deg);
    transform: skewY(-10deg);
    z-index: 0;
    top: 50px;
    left: 0;
}

footer{
    position: relative;
    display: flex;
    flex-direction: 'column';
    align-items: 'center';
    justify-content: 'flex-start';
    padding: 0 20px 15px;
}

.footer-icon{
    font-size: 30px;
    color: darkcyan;
    padding-left: 10px;
}

.footer-credits-container{
    flex-grow: 1;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    color: darkcyan;
    font-family: 'Open Sans', sans-serif;
}

/* footer:after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 145px;
    background: #5548d8;
    -ms-transform: skewY(-4deg);
    transform: skewY(-4deg);
    z-index: 0;
    bottom: 64px;
    left: 0;
} */

/*Twitter button*/
.btn{
    background-color: #00AA71 !important;
}

.p-title{
    font-weight: bold !important;
    color: #00e197;
}
.phone{
    margin-top: 40px;
}
.video{
    margin-top: 40px;
    margin-left: 31px;
}
.template{
    position: absolute;
    width: 325px;
}

video{
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
