html {
    background: #f9fafb;
}

body {
    background-image: url('/img/geometry2.png');
    background-repeat: repeat;
}

a {
    transition: all .2s ease-in-out;
    color: white
}

a:hover {
    color: black;
}

.hero-title{
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: white;
}

.hero-subtitle{
    font-family: 'Catamaran', sans-serif;
    font-size: 40px;
    color: white;
}

.title{
    font-family: 'Catamaran', sans-serif !important;
    color: #009465;
}

.logo{
    width: 170px;
}

.badge{
    max-width: 150px;
    margin-top: 10px;
}

.hero{
    background-color: #00e197;
    background: radial-gradient(circle farthest-side at 50% 20%, #01ffaa 0%, #00e197) !important;
}

.left-side{
    background-color: #00e197;
    /*background: radial-gradient(farthest-corner at 50% 50%, #8edcc2 0%, #00e197) !important;*/
    padding: 0 !important;
}

.transparent{
    background: transparent !important;
}

.right-side{
    /*background-image: url('/forwardapp/img/geometry2.png');
    background-repeat: repeat;*/
}

footer{
    background: transparent;
    padding: 10px !important;
}
